<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>

<body>
    <h2><%= title %></h2>

    <h3>Character info search using name</h3>
    <p><a href="/character/luke">/character/luke</a></p>
    <p><a href="/character/han">/character/han</a></p>
    <p><a href="/character/leia">/character/leia</a></p>
    <p><a href="/character/rey">/character/rey</a></p>

    <h3>Characters pagination and sorting</h3>
    <p><a href="/characters?page=1&sort=mass">/characters?page=1&sort=mass</a></p>
    <p><a href="/characters?page=1&sort=height">/characters?page=1&sort=height</a></p>
    <p><a href="/characters?sort=name">/characters?sort=name</a></p>

    <h3>Planet Residents</h3>
    <p><a href="/characters?page=1&sort=mass">/characters?page=1&sort=mass</a></p>
    <p><a href="/characters?page=1&sort=heigplanetresidentsht">/characters?page=1&sort=height</a></p>
    <p><a href="/characters?sort=name">/characters?sort=name</a></p>
</body>

</html>
